.bg {
  display: flex;
}
.event-container {
  background-color: #323f4b;
  padding-top: 30px;
  width: 50%;
  height: 100vh;

  overflow: auto;
}
.event-heading {
  color: white;
  align-self: flex-start;
  margin-left: 40px;
}
.events-ul-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}
